@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap");


body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Muli", sans-serif;
    color: #030431;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal
}

p {
    font-family: "Muli", sans-serif;
    color: #10285d;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal
}

.bg-img-1 {
    background-image: url(../img/slider/slider-img-1.jpg)
}

.bg-img-2 {
    background-image: url(../img/background-img/bg-img-2.jpg)
}

.cta-bg-1 {
    background-image: url(../img/background-img/bg-img-3.jpg)
}

.img {
    max-width: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

.clear {
    clear: both
}

a,
.button {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none
}

a {
    color: #635c5c
}

a:hover {
    color: #fff
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none
}

a,
button {
    color: #fff;
    outline: medium none
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.capitalize {
    text-transform: capitalize
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}

ul {
    margin: 0px;
    padding: 0px
}

li {
    list-style: none
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0
}

.theme-overlay {
    position: relative
}

.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%
}

.overlay {
    position: relative;
    z-index: 0
}

.overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.overlay2 {
    position: relative;
    z-index: 0
}

.overlay2::before {
    position: absolute;
    content: "";
    background-color: #2E2200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5
}

.section-padding {
    padding-top: 70px;
    padding-bottom: 70px
}

.separator {
    border-top: 1px solid #f2f2f2
}

.mb-90 {
    margin-bottom: 90px
}

@media (max-width: 767px) {
    .mb-90 {
        margin-bottom: 30px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mb-90 {
        margin-bottom: 45px
    }
}

.owl-carousel .owl-nav div {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    height: 40px;
    left: 20px;
    line-height: 40px;
    font-size: 22px;
    color: #646464;
    opacity: 1;
    visibility: visible;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 40px
}

.owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: -30px
}

.owl-carousel .owl-nav div.owl-next i {
    position: relative;
    right: 0;
    top: 1px
}

.owl-carousel .owl-nav div.owl-prev i {
    position: relative;
    right: 1px;
    top: 0px
}

.owl-carousel:hover .owl-nav div {
    opacity: 1;
    visibility: visible
}

.owl-carousel:hover .owl-nav div:hover {
    color: #fff;
    background: #ff3500
}

.btn {
    border: none;
    padding: 18px 58px 18px 19px;
    text-transform: capitalize;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    background-size: 200%;
    transition: 0.6s;
    box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to left, #559af3, #1462f3, #559af3)
}

.btn i {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    left: 26px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.btn:hover i {
    left: 30px
}

.btn:hover {
    background-position: right
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.about-btn {
    padding: 19px 97px 19px 20px
}

.about-btn i {
    left: 43px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.about-btn:hover i {
    left: 46px
}

.about-btn2 {
    padding: 19px 97px 19px 20px;
    border: none;
    display: inline-block;
    text-transform: capitalize;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    background-size: 200%;
    transition: 0.6s;
    box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to left, #9ea0af, #7a7c8a, #9ea0af)
}

.about-btn2 i {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    left: 43px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.about-btn2:hover i {
    left: 46px
}

.dep-btn {
    background: #fff;
    color: #000;
    padding: 20px 69px 20px 23px;
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0px
}

.dep-btn i {
    color: #000;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    left: 43px
}

.dep-btn:hover {
    color: #000
}

.header-btn {

    padding: 10px 25px;
    border-radius: 40px;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hero-btn {
    padding: 18px 63px 18px 21px
}

.white-btn {
    padding: 30px 39px;
    background: #fff;
    color: #331391 !important
}

.black-btn {
    padding: 14px 35px;
    background: #000
}

.black-btn::before {
    background: #331391
}

.submit-btn2 {
    background: #ec5b53;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0px
}

.white-btn {
    background: #fff;
    color: #000
}

.white-btn::before {
    background: #000;
    color: #fff
}

.border-btn {
    border: 1px solid #ff5600;
    color: #464d65;
    background: none;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 19px 47px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    margin: 0
}

@media (max-width: 575px) {
    .border-btn {
        display: none
    }
}

.border-btn::before {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #0f61ef;
    z-index: -1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    border-radius: 0
}

.border-btn:hover::before {
    transform: scaleY(1);
    border: 1px solid transparent
}

.breadcrumb>.active {
    color: #888
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-8px);
    }
}


#wa-contact {
    background: #088d04;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#scrollUp,
#back-top {
    background: #0f61ef;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 88px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2)
}

@media (max-width: 575px) {

    #scrollUp,
    #back-top {
        right: 16px
    }
}

#scrollUp a i,
#back-top a i {
    display: block;
    line-height: 50px
}

#scrollUp:hover {
    color: #fff
}

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    background: #fff
}


.bounce-animate {
    animation-name: float-bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -moz-animation-name: float-bob;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    /* -moz-animation-timing-function: linear; */
    -ms-animation-name: float-bob;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    /* -ms-animation-timing-function: linear; */
    -o-animation-name: float-bob;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    /* -o-animation-timing-function: linear */
}

@-webkit-keyframes float-bob {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

.heartbeat {
    animation: heartbeat 1s infinite alternate
}

.rotateme {
    -webkit-animation-name: rotateme;
    animation-name: rotateme;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #0f61ef;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-circle2 {
    border-top-color: #0078ff
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-img img {
    max-width: 55px
}

.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

.section-padding2 {
    padding-top: 50px;
    padding-bottom: 50px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .section-padding2 {
        padding-top: 150px;
        padding-bottom: 150px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-padding2 {
        padding-top: 150px;
        padding-bottom: 150px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding2 {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding2 {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .section-padding2 {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

.pb-bottom {
    padding-bottom: 200px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pb-bottom {
        padding-bottom: 200px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pb-bottom {
        padding-bottom: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .pb-bottom {
        padding-bottom: 10px
    }
}

@media (max-width: 575px) {
    .pb-bottom {
        padding-bottom: 10px
    }
}

.pb-top {
    padding-top: 200px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pb-top {
        padding-top: 70px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .pb-top {
        padding-top: 70px
    }
}

@media (max-width: 575px) {
    .pb-top {
        padding-top: 70px
    }
}

.testimonial-padding {
    padding-top: 190px;
    padding-bottom: 170px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .testimonial-padding {
        padding-top: 190px;
        padding-bottom: 170px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-padding {
        padding-top: 70px;
        padding-bottom: 60px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-padding {
        padding-top: 60px;
        padding-bottom: 40px
    }
}

@media (max-width: 575px) {
    .testimonial-padding {
        padding-top: 60px;
        padding-bottom: 40px
    }
}

.w-padding2 {
    padding-top: 130px;
    padding-bottom: 125px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .w-padding2 {
        padding-top: 130px;
        padding-bottom: 125px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .w-padding2 {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .w-padding2 {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .w-padding2 {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

.section-padding30 {
    padding-top: 195px;
    padding-bottom: 180px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-padding30 {
        padding-top: 150px;
        padding-bottom: 140px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding30 {
        padding-top: 100px;
        padding-bottom: 70px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding30 {
        padding-top: 65px;
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .section-padding30 {
        padding-top: 65px;
        padding-bottom: 70px
    }
}

.services-padding {
    padding-top: 145px;
    padding-bottom: 170px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .services-padding {
        padding-top: 145px;
        padding-bottom: 170px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-padding {
        padding-top: 100px;
        padding-bottom: 70px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .services-padding {
        padding-top: 65px;
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .services-padding {
        padding-top: 65px;
        padding-bottom: 70px
    }
}

.section-paddingt30 {
    padding-top: 195px;
    padding-bottom: 90px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-paddingt30 {
        padding-top: 150px;
        padding-bottom: 90px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-paddingt30 {
        padding-top: 100px;
        padding-bottom: 40px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-paddingt30 {
        padding-top: 65px;
        padding-bottom: 10px
    }
}

@media (max-width: 575px) {
    .section-paddingt30 {
        padding-top: 65px;
        padding-bottom: 10px
    }
}

.section-padding3 {
    padding-top: 150px;
    padding-bottom: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-padding3 {
        padding-top: 150px;
        padding-bottom: 0
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding3 {
        padding-top: 60px;
        padding-bottom: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding3 {
        padding-top: 60px;
        padding-bottom: 0
    }
}

@media (max-width: 575px) {
    .section-padding3 {
        padding-top: 60px;
        padding-bottom: 0
    }
}

.footer-padding {
    padding-top: 150px;
    padding-bottom: 50px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-padding {
        padding-top: 150px;
        padding-bottom: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-padding {
        padding-top: 100px;
        padding-bottom: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 50px
    }
}

@media (max-width: 575px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 50px
    }
}

@media (max-width: 575px) {
    .section-tittle {
        margin-bottom: 50px;
        text-align: left !important
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

.section-tittle span {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 22px;
    color: #396cf0;
    text-transform: uppercase;
    display: inline-block;
    position: relative
}

@media (max-width: 575px) {
    .section-tittle span {
        font-size: 14px;
        padding-left: 60px
    }
}

.section-tittle span::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #396cf0;
    top: 0;
    left: -67px;
    top: 50%;
    transform: translateY(-50%)
}

@media (max-width: 575px) {
    .section-tittle span::before {
        left: 0px
    }
}

.section-tittle h2 {
    font-size: 50px;
    display: block;
    color: #030431;
    font-weight: 800;
    padding-bottom: 50px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle h2 {
        font-size: 31px;
        text-align: center
    }
}

@media (max-width: 575px) {
    .section-tittle h2 {
        text-align: left;
        font-size: 27px
    }
}

.section-tittle2 span {
    margin-left: 72px
}

@media (max-width: 575px) {
    .section-tittle2 span {
        margin-left: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle2 h2 {
        text-align: left
    }
}

@media (max-width: 575px) {
    .section-tittle2 h2 {
        text-align: left;
        font-size: 27px
    }
}

.section-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.white-bg {
    background: #ffffff
}

.gray-bg {
    background: #f5f5f5
}

.gray-bg {
    background: #f7f7fd
}

.white-bg {
    background: #fff
}

.black-bg {
    background: #16161a
}

.theme-bg {
    background: #0f61ef
}

.brand-bg {
    background: #f1f4fa
}

.testimonial-bg {
    background: #f9fafc
}

.white-color {
    color: #fff
}

.black-color {
    color: #16161a
}

.theme-color {
    color: #0f61ef
}

.header-area .main-header {
    padding: 0px 50px;
    background: #11141b;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .main-header {
        padding: 0px 30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-header {
        padding: 0px 15px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header {
        padding: 22px 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .main-header {
        padding: 22px 20px
    }
}

@media (max-width: 575px) {
    .header-area .main-header {
        padding: 22px 14px
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .main-header .main-menu {
        margin-right: 30px
    }
}

.header-area .main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1
}

.header-area .main-header .main-menu ul li a {
    color: #ffffff;
    padding: 30px 12px;
    display: block;
    font-size: 15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    font-family: "Muli", sans-serif,
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-header .main-menu ul li a {
        padding: 39px 15px
    }
}

.header-area .main-header .main-menu ul li:hover>a {
    color: #0f4aaf;
}

.header-area .main-header .main-menu ul li a {
    position: relative;
}

.header-area .main-header .main-menu ul li a:hover:after {
    width: 100%;
}

.header-area .main-header .main-menu ul li a,
.header-area .main-header .main-menu ul li a:after,
.header-area .main-header .main-menu ul li a:before {
    transition: all .2s;
}

/* .header-area .main-header .main-menu ul li a:after {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: rgb(33, 47, 233);
    height: 4px;
} */

.header-area .main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #11141b;
    left: 0;
    top: 80%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 20px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.header-area .main-header .main-menu ul ul.submenu>li {
    margin-left: 10px;
    display: block
}

.header-area .main-header .main-menu ul ul.submenu>li>a {
    padding: 6px 10px !important;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0
}

.header-area .main-header .main-menu ul ul.submenu>li>a:hover {
    color: #0f61ef;
    background: none
}

.header-area .main-menu ul ul.submenu>li>a:hover {
    padding-left: 13px !important
}

.header-area .main-menu ul>li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%
}

.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9
}

.header-sticky.sticky-bar.sticky .main-menu ul li a {
    padding: 20px 20px !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-sticky.sticky-bar.sticky {
        padding: 10px 0px
    }
}

@media (max-width: 575px) {
    .header-sticky.sticky-bar.sticky {
        padding: 10px 0px
    }
}

.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99
}

.mobile_menu .slicknav_menu {
    background: transparent;
    margin-top: 0px !important
}

.mobile_menu .slicknav_menu .slicknav_btn {
    top: -56px
}

.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
    background-color: #0f61ef !important
}

.mobile_menu .slicknav_menu .slicknav_nav a:hover {
    background: transparent;
    color: #0f61ef
}

.mobile_menu .slicknav_menu .slicknav_nav a {
    font-size: 15px;
    padding: 15px 25px
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
    padding: 0 !important
}

.slider-height {
    height: 600px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-height {
        height: 600px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-height {
        height: 600px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-height {
        height: 600px
    }
}

@media (max-width: 575px) {
    .slider-height {
        height: 500px
    }
}


.slider-area {
    margin-top: -1px;
    background-image: url(../img/hero/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover
}

/* .slider-area .hero__caption {
    overflow: hidden
} */

.slider-area .hero__caption span {
    font-size: 18px;
    font-family: "Muli", sans-serif;
    font-weight: 600;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #396cf0;
    display: inline-block;
    position: relative;
    padding-left: 100px;
    letter-spacing: 0.05em
}

@media (max-width: 575px) {
    .slider-area .hero__caption span {
        font-size: 13px
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption span {
        padding-left: 69px
    }
}

.slider-area .hero__caption span::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background: #396cf0;
    top: 0;
    left: 0px;
    top: 50%;
    transform: translateY(-50%)
}

@media (max-width: 575px) {
    .slider-area .hero__caption span::before {
        width: 50px
    }
}

.slider-area .hero__caption h1 {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 14px;
    color: #102039;
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: uppercase
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero__caption h1 {
        font-size: 70px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption h1 {
        font-size: 50px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption h1 {
        font-size: 35px;
        line-height: 1.4
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption h1 {
        font-size: 29px;
        line-height: 1.5
    }
}

.slider-area .hero__caption h1 strong {
    color: #0f61ee
}

.slider-area .hero__caption p {
    font-size: 18px;
    color: #212025;
    font-family: "Muli", sans-serif;
    margin-bottom: 50px;
    padding-right: 35px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption p {
        padding-right: 13px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption p {
        padding-right: 0px
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption p {
        padding-right: 0px;
        font-size: 15px
    }
}

.hero-overly {
    position: relative;
    z-index: 1
}

.hero-overly::before {
    position: absolute;
    content: "";
    background-color: rgba(1, 10, 28, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat
}

.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9
}

.slider-area2 .hero-cap h2 {
    color: #102039;
    font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area2 .hero-cap h2 {
        font-size: 50px
    }
}

@media (max-width: 575px) {
    .slider-area2 .hero-cap h2 {
        font-size: 35px
    }
}

@media (max-width: 575px) {
    .about-area .about-caption {
        margin-bottom: 35px
    }
}

.about-area .about-caption p {
    font-size: 16px;
    color: #64676c;
    line-height: 1.6;
    margin-bottom: 35px;
    padding-right: 50px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area .about-caption p {
        padding-right: 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area .about-caption p {
        padding-right: 0px
    }
}

@media (max-width: 575px) {
    .about-area .about-caption p {
        padding-right: 0px
    }
}

.about-area .about-caption ul {
    margin-bottom: 75px
}

@media (max-width: 575px) {
    .about-area .about-caption ul {
        margin-bottom: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area .about-caption ul {
        margin-bottom: 50px
    }
}

.about-area .about-caption ul li {
    color: #000;
    font-size: 16px
}

.about-area .about-caption ul li span {
    color: #2d3092;
    font-size: 30px;
    position: relative;
    top: 4px;
    margin-right: 14px
}

.about-area .about-img {
    position: relative
}

.about-area .about-img .about-font-img {
    position: absolute;
    z-index: 0;
    left: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area .about-img .about-font-img img {
        width: 106%
    }
}

@media (max-width: 575px) {
    .about-area .about-img .about-font-img img {
        width: 100%
    }
}

.about-area .about-img .about-back-img {
    position: absolute;
    top: 60px;
    right: -180px;
    z-index: 1
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .about-area .about-img .about-back-img {
        right: -10px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area .about-img .about-back-img {
        right: -19px
    }
}

.about-area .about-img .about-back-img img {
    border: 10px solid #f2f2f2
}

@media (max-width: 575px) {
    .about-area .about-img .about-back-img img {
        width: 90%
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area .about-img .about-back-img {
        position: unset
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area .about-img .about-back-img {
        position: unset
    }
}

@media (max-width: 575px) {
    .about-area .about-img .about-back-img {
        position: unset
    }
}

@media (max-width: 575px) {
    .about-caption {
        margin-bottom: 35px
    }
}

@media (max-width: 575px) {
    .bg-height.pb-160 {
        padding-bottom: 100px
    }
}

.about-details .about-details-cap h4 {
    font-size: 30px;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000a2d;
    display: inline-block
}

.about-details .about-details-cap p {
    color: #464d65;
    font-size: 16px
}

.services_area {
    background-image: url(../img/bg/bg-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.services_area .row.custom_align {
    margin-bottom: 60px
}

@media (max-width: 767px) {
    .services_area .learn_more_btn {
        text-align: left !important;
        margin-top: 30px
    }
}

.services_area .dept_main_info .dept_thumb img {
    width: 100%
}

@media (min-width: 992px) and (max-width: 1200px) {
    .services_area .dept_main_info .dept_thumb img {
        max-width: 100%
    }
}

.services_area .dept_main_info .dept_info {
    background-image: -moz-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    background-image: -webkit-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    background-image: -ms-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    padding: 100px 100px 80px 108px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .services_area .dept_main_info .dept_info {
        padding: 78px 103px 52px 111px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services_area .dept_main_info .dept_info {
        padding: 78px 103px 52px 111px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .services_area .dept_main_info .dept_info {
        padding: 71px 18px 60px 23px
    }
}

@media (max-width: 575px) {
    .services_area .dept_main_info .dept_info {
        padding: 71px 18px 60px 23px
    }
}

.services_area .dept_main_info .dept_info h3 {
    font-size: 25px;
    line-height: 35px;
    color: #fff;
    font-weight: 600;
    font-family: "Muli", sans-serif
}

@media (max-width: 767px) {
    .services_area .dept_main_info .dept_info h3 {
        font-size: 20px
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .services_area .dept_main_info .dept_info h3 br {
        display: none
    }
}

@media (max-width: 575px) {
    .services_area .dept_main_info .dept_info h3 br {
        display: none
    }
}

.services_area .dept_main_info .dept_info p {
    margin-bottom: 52px;
    margin-top: 20px;
    color: #fff
}

@media (min-width: 992px) and (max-width: 1200px) {
    .services_area .dept_main_info .dept_info p {
        margin-top: 15px;
        margin-bottom: 20px
    }
}

.services_area .services_tab .nav {
    justify-content: space-between
}

.services_area .services_tab .nav li {
    -webkit-box-flex: 14.4%;
    -ms-flex: 14.4% 0 0px;
    flex: 14.4% 0 0;
    margin-bottom: 30px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .services_area .services_tab .nav li {
        -webkit-box-flex: 42%;
        -ms-flex: 42% 0 0px;
        flex: 42% 0 0;
        margin: 0 15px;
        margin-bottom: 0 !important
    }

    .services_area .services_tab .nav li:last-child {
        margin-right: 15
    }
}

@media (max-width: 575px) {
    .services_area .services_tab .nav li {
        -webkit-box-flex: 42%;
        -ms-flex: 100% 0 0px;
        flex: 100% 0 0;
        margin: 0px;
        margin-bottom: 0 !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .services_area .services_tab .nav li {
        -webkit-box-flex: 30%;
        -ms-flex: 30% 0 0px;
        flex: 30% 0 0;
        margin-bottom: 0 !important
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .services_area .services_tab .nav li {
        -webkit-box-flex: 15%;
        -ms-flex: 15% 0 0px;
        flex: 15% 0 0;
        margin-bottom: 0 !important
    }
}

.services_area .services_tab .nav li a {
    background: #fff;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .services_area .services_tab .nav li a {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 25px 0 25px 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 10px
    }
}

@media (max-width: 575px) {
    .services_area .services_tab .nav li a {
        flex-direction: row;
        justify-content: center;
        padding: 20px 0 20px 0;
        align-items: center;
        margin-bottom: 10px
    }
}

.services_area .services_tab .nav li a i {
    font-size: 50px;
    color: #3eadf8;
    line-height: 1;
    margin-bottom: 13px
}

@media (max-width: 767px) {
    .services_area .services_tab .nav li a i {
        font-size: 25px;
        margin-right: 15px;
        margin-bottom: 0
    }
}

.services_area .services_tab .nav li a h4 {
    font-size: 18px;
    font-weight: 500;
    color: #296ea4;
    margin-bottom: 0
}

@media (max-width: 767px) {
    .services_area .services_tab .nav li a h4 {
        margin-bottom: 0
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .services_area .services_tab .nav li a h4 {
        font-size: 14px
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .services_area .services_tab .nav li a h4 br {
        display: none
    }
}

.services_area .services_tab .nav li a.active {
    background-image: -moz-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    background-image: -webkit-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    background-image: -ms-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    color: #fff
}

.services_area .services_tab .nav li a.active i {
    color: #fff
}

.services_area .services_tab .nav li a.active h4 {
    color: #fff
}

.services_area .services_tab .nav li:last-child {
    margin-right: 0
}

@media (max-width: 767px) {
    .services_area .services_tab .nav li:last-child {
        margin-right: 15px
    }
}

.all-starups-area {
    display: flex;
    align-items: center
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .all-starups-area {
        display: block
    }
}

@media (max-width: 575px) {
    .all-starups-area {
        display: block
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .all-starups-area {
        display: block
    }
}

.all-starups-area .starups {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0 9%;
    background-image: url(../img/gallery/section_bg01.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    height: 700px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .all-starups-area .starups {
        padding-right: 35px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .all-starups-area .starups {
        padding: 0 30px
    }
}

@media (max-width: 575px) {
    .all-starups-area .starups {
        padding: 0 30px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .all-starups-area .starups {
        width: 100%;
        height: 500px
    }
}

@media (max-width: 575px) {
    .all-starups-area .starups {
        width: 100%;
        height: 400px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .all-starups-area .starups {
        width: 100%;
        height: 400px
    }
}

.all-starups-area .starups .starups-details {
    padding-right: 117px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .all-starups-area .starups .starups-details {
        padding-right: 0px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .all-starups-area .starups .starups-details {
        padding-right: 30px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .all-starups-area .starups .starups-details {
        padding-right: 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .all-starups-area .starups .starups-details {
        padding-right: 0px;
        margin-top: 40px
    }
}

@media (max-width: 575px) {
    .all-starups-area .starups .starups-details {
        padding-right: 0px;
        margin-top: 40px
    }
}

.all-starups-area .starups .starups-details span {
    margin-bottom: 22px;
    display: block;
    color: #9fabbe
}

.all-starups-area .starups .starups-details h3 {
    font-size: 35px;
    display: block;
    color: #fff;
    font-weight: 700;
    margin-bottom: 53px
}

@media (max-width: 575px) {
    .all-starups-area .starups .starups-details h3 {
        font-size: 21px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .all-starups-area .starups .starups-details h3 {
        font-size: 28px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .all-starups-area .starups .starups-details h3 {
        font-size: 28px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .all-starups-area .starups .starups-details h3 {
        font-size: 43px
    }
}

.all-starups-area .starups .starups-details p {
    color: #9fabbe
}

@media (max-width: 575px) {
    .all-starups-area .starups .starups-details p {
        font-size: 15px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .all-starups-area .starups .starups-details p {
        font-size: 13px
    }
}

.all-starups-area .starups .starups-details .starups-list ul {
    display: flex;
    margin-bottom: 18px
}

.all-starups-area .starups .starups-details .starups-list ul li svg {
    position: relative;
    top: 4px
}

.all-starups-area .starups .starups-details .starups-list ul li p {
    padding-left: 20px;
    color: #9fabbe
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .all-starups-area .starups .starups-details .starups-list ul li p {
        padding-left: 9px
    }
}

@media (max-width: 575px) {
    .all-starups-area .starups .starups-details .starups-list ul li p {
        padding-left: 9px
    }
}

.all-starups-area .starups-img {
    width: 50%;
    background-image: url(../img/gallery/startup.png);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    height: 700px
}

@media (max-width: 575px) {
    .all-starups-area .starups-img {
        width: 100%;
        height: 500px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .all-starups-area .starups-img {
        width: 100%;
        height: 500px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .all-starups-area .starups-img {
        width: 100%;
        height: 400px
    }
}

.contact-form-main {
    position: relative
}

.contact-form-main .from-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 46%
}

.contact-form-main .from-left img {
    width: 100%;
    height: 837px
}

.contact-form-main .form-tittle {
    padding: 111px 51px 0px 67px
}

@media (max-width: 575px) {
    .contact-form-main .form-tittle {
        padding: 50px 10px 0px 10px
    }
}

.contact-form-main .form-wrapper {
    background: #f7fdff
}

.contact-form-main #contact-form {
    padding: 61px 51px 115px 69px;
    position: relative
}

@media (max-width: 575px) {
    .contact-form-main #contact-form {
        padding: 13px 25px 76px 25px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .contact-form-main #contact-form {
        padding: 13px 25px 76px 25px
    }
}

.contact-form-main #contact-form input {
    background: none;
    height: 60px;
    width: 100%;
    padding: 10px 25px;
    padding-right: 30px;
    border: 0;
    color: #112957;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 0px;
    border-bottom: 2px solid #e9f0f4
}

.contact-form-main #contact-form input::-moz-placeholder {
    color: #112957;
    font-size: 16px;
    font-weight: 300;
    transition: .4s
}

.contact-form-main #contact-form input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.contact-form-main #contact-form input .list {
    width: 100%;
    border-radius: 0
}

.contact-form-main #contact-form .nice-select {
    background: none;
    height: 60px;
    width: 100%;
    border: 0;
    color: #112957;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    padding-top: 10px;
    border-radius: 0px;
    border-bottom: 2px solid #e9f0f4
}

.contact-form-main #contact-form .nice-select::after {
    border-bottom: 2px solid #a3a3a3;
    border-right: 2px solid #a3a3a3;
    height: 7px;
    right: 41px;
    width: 7px
}

.contact-form-main #contact-form .nice-select.open .list {
    width: 100%;
    border-radius: 0
}

.contact-form-main #contact-form .nice-select .option {
    color: #a3a3a3
}

.contact-form-main #contact-form textarea {
    color: #112957;
    background: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
    height: 130px;
    width: 100%;
    padding: 30px 21px;
    border: 0;
    border-radius: 0px;
    border-bottom: 2px solid #e9f0f4
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-form-main #contact-form textarea {
        padding: 30px 42px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .contact-form-main #contact-form textarea {
        padding: 30px 24px
    }
}

@media (max-width: 575px) {
    .contact-form-main #contact-form textarea {
        padding: 30px 25px
    }
}

.contact-form-main #contact-form textarea::placeholder {
    color: #112957;
    font-size: 16px;
    font-weight: 300;
    transition: .4s
}

.contact {
    border: 1px solid #eaedff;
    padding: 40px 10px
}

.contact i {
    background: #8fb569;
    font-size: 40px;
    height: 150px;
    width: 150px;
    color: #ffffff;
    border-radius: 50%;
    line-height: 135px;
    border: 10px solid #fff;
    -webkit-box-shadow: 0px 16px 32px 0px rgba(206, 226, 255, 0.4);
    box-shadow: 0px 16px 32px 0px rgba(206, 226, 255, 0.4);
    margin-bottom: 30px
}

.contact h3 {
    font-size: 26px;
    margin-bottom: 15px
}

.contact p {
    margin: 0;
    padding: 0 50px
}

.gallery-area .single-gallery {
    position: relative;
    overflow: hidden
}

.gallery-area .single-gallery::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgba(1, 10, 28, 0.3);
    opacity: 0;
    z-index: 1;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.gallery-area .single-gallery:hover::before {
    opacity: 1;
    visibility: visible
}

.gallery-area .single-gallery .gallery-img {
    transform: scale(1.06);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.gallery-area .single-gallery .big-img {
    position: relative;
    height: 690px;
    background-size: cover;
    background-repeat: no-repeat
}

.gallery-area .single-gallery .small-img {
    position: relative;
    height: 330px;
    background-size: cover;
    background-repeat: no-repeat
}

.single-gallery:hover .gallery-img {
    transform: scale(1)
}

.testimonial-area .testimonial-caption .testimonial-top-cap img {
    margin-bottom: 50px;
    width: auto;
    display: inline-block
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap img {
        margin-bottom: 30px
    }
}

@media (max-width: 575px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap img {
        margin-bottom: 30px
    }
}

.testimonial-area .testimonial-caption .testimonial-top-cap p {
    line-height: 1.5;
    margin-bottom: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 3000
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 20px;
        padding-right: 0px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 18px;
        padding-right: 0px;
        margin-bottom: 60px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 18px;
        padding-right: 0px;
        margin-bottom: 60px
    }
}

@media (max-width: 575px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 15px;
        padding-right: 0px;
        margin-bottom: 60px
    }
}

.testimonial-area .testimonial-caption .testimonial-founder .founder-text {
    margin-left: 20px
}

.testimonial-area .testimonial-caption .testimonial-founder .founder-text span {
    color: #0f61ef;
    font-size: 20px;
    font-weight: 600;
    color: #fff
}

@media (max-width: 575px) {
    .testimonial-area .testimonial-caption .testimonial-founder .founder-text span {
        font-size: 17px
    }
}

.testimonial-area .testimonial-caption .testimonial-founder .founder-text p {
    color: #ddd;
    font-weight: 500;
    line-height: 1.5
}

.slick-initialized .slick-slide {
    outline: 0
}

.team-area .single-team .team-img {
    overflow: hidden
}

.team-area .single-team .team-img img {
    width: 100%;
    transform: scale(1);
    transition: all 0.6s ease-out 0s
}

.team-area .single-team .team-caption {
    padding: 30px 20px 30px 50px;
    background: #fff;
    border: 1px solid #ffeff9;
    border-top: 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.team-area .single-team .team-caption span {
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
    display: block;
    margin-bottom: 30px
}

.team-area .single-team .team-caption h3 a {
    color: #161e46;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    display: block
}

.team-area .single-team .team-caption:hover {
    border: 1px solid transparent;
    border-top: 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    background: #0f66f8
}

.team-area .single-team .team-caption:hover span {
    color: #fff
}

.team-area .single-team .team-caption:hover h3 a {
    color: #fff
}

.team-area .single-team .team-caption:hover .team-social a {
    color: #fff;
    border: 1px solid #fff
}

.single-team:hover .team-img img {
    transform: scale(1.05)
}

.brand-area {
    background: #f7f7f7
}

.brand-area .single-brand.slick-slide {
    opacity: .7
}

.team-social a {
    color: #9fa8c3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    border: 1px solid #fff5fb
}

.team-social a i {
    display: inline-block
}

.footer-area {
    background: #11141b
}

.footer-area .footer-top {
    border-bottom: 1px solid #233148
}

.footer-area .footer-top .single-footer-caption .footer-logo {
    margin-bottom: 30px
}

.footer-area .footer-top .single-footer-caption .footer-about p:hover {
    color: #3957ff;
}

.footer-area .footer-top .single-footer-caption .footer-number h4,
.footer-area .footer-top .single-footer-caption .footer-about h4 {
    color: #3957ff;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 30px;


}

.footer-area .footer-top .single-footer-caption .footer-about p,
.footer-area .footer-top .single-footer-caption .footer-number p {
    color: #bdbdbd
}

.footer-area .footer-top .single-footer-caption .footer-tittle h4 {
    color: #fff;
    font-family: "Muli", sans-serif;
    font-size: 18px;
    margin-bottom: 38px;
    font-weight: 500;
    text-transform: uppercase
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li {
    color: #bdbdbd;
    margin-bottom: 15px;
    text-transform: capitalize
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a {
    color: #bdbdbd;
    font-weight: 300
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a:hover {
    color: #fff;
    padding-left: 5px
}

.footer-area .footer-bottom {
    padding-bottom: 50px;
    padding-top: 30px
}

.footer-area .footer-bottom .copy-right p {
    color: #bdbdbd;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home_blog-area .single-blogs .blogs-cap {
        padding: 31px 12px 22px 17px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home_blog-area .single-blogs .blogs-cap {
        padding: 31px 12px 22px 17px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home_blog-area .single-blogs .blogs-cap {
        padding: 31px 12px 22px 17px
    }
}

@media (max-width: 575px) {
    .home_blog-area .single-blogs .blogs-cap {
        padding: 31px 12px 22px 17px
    }
}
